<!DOCTYPE html>
<html>
  <head>

<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" rel='stylesheet'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


      #map {
        height: 100%;
      }

    </style>
  </head>
<body>
<div id ="top1" class="wow bounceInUp" style="top:10px;right:10px;z-index:10000;position:absolute" >
<div class="container">
<div style="position:absolute;right:50px;">
<form class="form-signin" action="/" method="post">

<label for="hospitalName" class="sr-only">hospitalName</label>
<input type="text" id="hospitalName" name="hospitalName" class="form-control" placeholder="Hospital Name" required autofocus>


<label for="diseases" class="sr-only">diseases</label>
<input type="text" name="diseases" id="diseases" class="form-control" placeholder="Diseases" required>

<button class="btn btn-lg btn-primary btn-block" type="submit" id="button" onclick="postData()">Submit</button>
</form>
</div>
</div>
</div>

    <div id="map" ></div>
    <script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see the error "The Geolocation service
// failed.", it means you probably did not give permission for the browser to
// locate you.
  var lat;
  var lng;
  var pos;
function initMap() {
  
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 6
  });
  var infoWindow = new google.maps.InfoWindow({map: map});

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
    //  console.log(lat);
      infoWindow.setPosition(pos);
      infoWindow.setContent('Location found.');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }

}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
}

  function postData(){
    console.log("here");
     var data = {
      hospitalName: $('#hospitalName').val(),
    diseases:$('#diseases').val(),
        type: 'Feature',
        geometry: {
            type: 'Point',
            coordinates: [pos.lat,pos.lng]
        }

    };

     
    $.ajax({
            type: "POST", //GET or POST or PUT or DELETE verb
            url: "http://localhost:6654/hospitaldb", // Location of the service
            data: JSON.stringify(data), //Data sent to server
            contentType: "application/json; charset=utf-8", // content type sent to server
            dataType: "json", //Expected data format from server
            processdata: false, //True or False
            error: function (request, error) {// When Service call fails
               // alert('Service call failed: ' + request.status + ' ' + request.statusText);
              alert('Error');
            }
            //contentType:"application/json"
        });

  }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJCAm9LFhZWSNNSCM5su65vn90sixZP1Q&signed_in=true&callback=initMap"
        async defer>
    </script>
     <script>
              new WOW().init();
     </script>
  </body>
</html>