<!DOCTYPE html>
<html>
<head>
    <title>
       <%=title %>
    </title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <style>
        body{
             background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, blue); /* Standard syntax */
                 background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
 
}
        }
    </style>

</head>
<body>
    <% for(var i in messages) { %>
    <div class="flash"><%= messages[i] %></div>
    <% } %>
    <div class="container">
        <form class="form-signin" action="/register" method="post">
            <h2 class="form-signin-heading text-center">Register</h2>

            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>

            <label for="name" class="sr-only">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>

            <label for="email" class="sr-only">E-mail</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required>
            <label for="number" class="sr-only">Contact</label>
            <input type="number" name="number" id="number" class="form-control" placeholder="Contact Number" required>

            <select class="form-control" name="mediaHouse" for="mediaHouse">
            <option value="" disabled selected>Select your Media House</option>
            <option value="NDTV">NDTV</option>
                <option value="TOI">TOI</option>
                <option value="HT">HT</option>
            </select>
            <select class="form-control" name="beat" for="beat">
            <option value="" disabled selected>Select your Beat</option>
            <option value="Crime">Crime</option>
                <option value="Politics">Politics</option>
                <option value="Others">Others</option>
            </select>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
          </form>

         
    </div>
</body>
</html>